body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.tag-container {
    padding: 10px;
}

.tag-group {
    margin-bottom: 20px;
    padding: 10px;
    /*background-color: #fff;*/
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border: 1px solid black; /* 为了更好地看到容器的边界，这里添加了边框 */
}

.tag-group h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    padding: 7px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
}

.tag:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #8ae78a;
    /* 浅绿色 */
}

.logo {
    margin: 0 0 -5px 0;
}

.green {
    background-color: #8ae78a;
    /* 浅绿色 */
}

.background1 {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.background2 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.background3 {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.background4 {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.background5 {
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
}

.background6 {
    background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

.background7 {
    background-image: linear-gradient(-225deg, #2cd8d5 0%, #c5c1ff 56%, #ffbac3 100%);
}
